<!DOCTYPE html>
<head>
    <head>
        <h1>YOOO!</h1>
    </head>
    <body>
        <form method="post" action="/login_page">
            console.log("------------------------------------------------------------yoo----------------")
            
            <h1>COVID-19</h1>
            <label>User Name</label> <input type="text" name="username" placeholder="Username" required>
            <br>
            <label>Email id </label><input type="text" name ="email_id" placeholder="Password" required>
            <br>
            <label>Aadhar card </label><input type="text" name ="aadhar_card" placeholder="aadhar_number" required>
            <br>
            <label>Source Destination </label><input type="text" name ="Travelling_From" placeholder="traveling_from" required>
            <br>
            <label>Target Destination </label><input type="text" name ="Destination" placeholder="destination" required>
            <br>
            <label>District </label><input type="text" name ="District" placeholder="district" required>
            <br>
            <label>Mobile Number</label><input type="number" name ="PhoneNumber" placeholder="PhoneNumber" required>
            <br>
            <label>Travel Date</label><input type="text" name ="travel_date" placeholder="travel_date" required>
            <br>
            <input type="submit" value="login">
            
        </form>
        
    </body>
</head>