<html>
    <head>
        <h1>Form</h1>
    </head>
    <body>
        <form  method = "POST" action="/Acknowledgement" novalidate>
            <div class="mb-3">
              <label for="fname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" name = "fname" >
            </div>

            <div class="mb-3">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lname" name = "lname" >
              </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name = "email" >
              </div>

              <div class="mb-3">
                <label for="ss" class="form-label">State</label>
                <input type="text" class="form-control" id="ss" name = "source_state" >
              </div>

              <div class="mb-3">
                <label for="sd" class="form-label">Source</label>
                <input type="text" class="form-control" id="sd" name = "source" >
              </div>


              <div class="mb-3">
                <label for="ds" class="form-label">Destination State</label>
                <input type="text" class="form-control" id="ds" name = "dest-state" >
              </div>

              <div class="mb-3">
                <label for="dd" class="form-label">Destination</label>
                <input type="text" class="form-control" id="dd" name = "destination" >
              </div>

              <div class="mb-3">
                <label for="pn" class="form-label">Phone number : </label>
                <input type="number" class="form-control" id="pn" name = "phoneNumber" >
              </div>

              <div class="mb-3">
                <label for="an" class="form-label">AAdhar number :</label>
                <input type="text" class="form-control" id="an" name = "idcard" >
              </div>

              <div class="mb-3">
                <label for="trip" class="form-label">trip :</label>
                <input type="text" class="form-control" id="trip" name = "trip" >
              </div>




            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>